.new_cmp_ds {
    background-color: #7bb075;
}

.x-accordion-item .x-accordion-hd {
    background-image: none;
    background-color: #5fa2dd;
}

.x-accordion-item .x-accordion-hd-over {
    background-image: none;
    background-color:  #62a5df;
}

.x-accordion-hd .x-panel-header-title {
    color: #fff;
}

.x-accordion-hd .x-tool-tool-el {
    color: #fff;
}

.ds-toolbar-text{
    color: #f0f0f0;
    font-weight: bold;
}